# SSH (Cloudways master credentials for the server)
SSH_USER=master_xxxxxxxx
SSH_HOST=209.38.106.70
SSH_PASS=
# Cloudways application id (folder under /home/master/applications)
APP_ID=xxxxxxxxxx
# Where the API lives on the server
API_DIR=/home/master/zurb
PM2_NAME=zurb-api
